body {
  padding: 50px;
  font: 14px "Impact", serif;
  color: rgb(211, 197, 178);
  background-color: blanchedalmond;
  line-height: 0.2;
}

button {
  background-color: red;
  color: rgb(36, 125, 242);
  border:none;
}

a {
  color: #00B7FF;
}
